.container
  .row.vertical-center-row
    .col-lg-12
      .row
        .col-xs-4.col-xs-offset-4
          %h4.text-center Please scan your ucard
          %img{src: image_path('ucard.jpg')}
          = simple_form_for :user do |f|
            =f.input :ucard_number, as: :hidden, autofocus:true

:javascript
  console.log('waiting');
  var barcode = "";
  $(function() {
     $(window).keypress(function(e) {
        barcode += String.fromCharCode(e.keyCode);
     });

     $(window).keypress(function(e) {
        $("#user_ucard_number").val(barcode);
        $('form.simple_form').submit();
     });
  });
