:plain
  $.gritter.add({
              image: '/assets/success.png',
              title: "Notification",
              text: "Loan period was not changed, please refresh the page.",
              class_name: 'gritter-info gritter-center'
            });