!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Librarysystem
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', controller_name, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} ELTC Library System
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path}
                =fa_icon('home', text: "Home")
                %span.sr-only (current)
            - if user_active?
              %li
                %a{:href => new_user_loan_path(current_user)}=fa_icon('plus', text: "New loan")
              %li
                %a{:href => "#"}=fa_icon('check', text: "Return loan")
            -if admin_signed_in?
              %li
                %a{:href => items_path}=fa_icon('book', text: "Items")
              %li
                %a{:href => categories_path}=fa_icon('clipboard', text: "Categories")
              %li
                %a{:href => users_path}=fa_icon('user', text: "Borrowers")
              %li
                %a{:href => loans_path}=fa_icon('calendar', text: "Loans")
          -if admin_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to "Log out", destroy_admin_session_path, method: :delete
          -else
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to "System administration", new_admin_session_path
    #main-container.container
      = yield
