!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Librarysystem
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', controller_name, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            %img{src: image_path('logo.jpg'), height: '50px'}
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => root_path}
                =fa_icon('home', text: "Home")
                %span.sr-only (current)
            - unless user_active?
              %li
                %a{:href => items_path}=fa_icon('book', text: "Items")
            -if admin_signed_in?
              %li
                %a{:href => categories_path}=fa_icon('clipboard', text: "Categories")
              %li
                %a{:href => users_path}=fa_icon('user', text: "Borrowers")
          -if admin_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to "Log out", destroy_admin_session_path, method: :delete
          -else
            %ul.nav.navbar-nav.navbar-right
              %li
                =link_to "System administration", new_admin_session_path
    #main-container.container
      -if user_active?
        .row.vertical-center-row
          .col-lg-12
            .row
              .col-xs-12
                %h1.text-center.extra-large
                  .btn-group{"aria-label" => "...", :role => "group"}
                    =link_to 'Items', items_path, class: 'btn btn-warning btn-xl white'
                    =link_to 'New loan', new_user_loan_path(current_user), class: 'btn btn-success btn-xl white', method: :get
                    =link_to 'Return item', return_scan_items_path, class: 'btn btn-primary btn-xl white'
                  .btn-group{"aria-label" => "...", :role => "group"}
                    =link_to 'Your loans', loans_path, class: 'btn btn-info btn-xl white', method: :get
                    =link_to 'Logout', '#', class: 'btn btn-danger btn-xl white'
      = yield
